*,
*::before,
*::after {
	box-sizing: border-box;
}

$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);

$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

$weight400: 400;
$weight500: 500;
$weight700: 700;

$borderRadius: 0.6em;

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

body {
	background: $veryLightGray;
}

::placeholder {
	font-family: 'Rubik', sans-serif;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 3vh;
}

// Textarea reset
textarea {
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

// Comment Section

.comment-container {
	width: 700px;
	background: $white;
	border-radius: $borderRadius;
	padding: 1em;
	display: flex;
	align-items: center;
	margin: 1vh 0;
}

.comment-meta {
	display: flex;
	align-items: center;
	width: 100%;

	.comment-image {
		padding-right: 1em;
		width: 45px;
	}

	.comment-name {
		font-weight: $weight500;
		padding-right: 1em;
		color: $darkBlue;
	}
	.comment-date {
		color: $grayishBlue;
	}
	.comment-reply {
		font-weight: $weight500;
		margin-left: auto;
		color: $darkBlue;
		img {
			padding-right: 0.5em;
		}
	}
}

.comment-content {
	padding-right: 3em;
	p {
		color: $grayishBlue;
		font-size: 16px;
		margin: 8px;
		line-height: 1.4em;
	}
}

.vote {
	margin: 0 1.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $veryLightGray;
	border-radius: $borderRadius;
	div {
		padding: 0.6em;
	}

	.count {
		font-weight: $weight500;
		color: $darkBlue;
	}

	.icon-small {
		color: $lightGrayishBlue;
	}
}

// Commentbox

.commentbox-container {
	margin-top: 1vh;
	background: $white;
	border-radius: $borderRadius;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 700px;
	padding: 1em;

	.commentbox-image {
		img {
			width: 35px;
		}
		padding-right: 1em;
	}
	.commentbox-comment {
		padding-right: 1em;
		width: 100%;
		textarea {
			width: 100%;
			resize: none;
			border-radius: $borderRadius;
			border: 2px soild $lightGray;
			font-size: 16px;
			font-family: 'Rubik', sans-serif;
			border: none;
			color: $grayishBlue;
		}
	}
	.commentbox-button {
		margin-left: auto;
		button {
			background: $moderateBlue;
			border: none;
			border-radius: $borderRadius;
			color: $white;
			font-weight: $weight500;
			padding: 1em 2em;
		}
	}
}
