*,
*::before,
*::after {
	box-sizing: border-box;
}

$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);

$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

$borderRadius: 0.6em;

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

body {
	background: $veryLightGray;
}

.container {
	width: 50%;
	margin: 0 auto;
}

// Comment Section

.comment-container {
	background: $white;
	border-radius: $borderRadius;
	padding: 1em;
	display: flex;
	align-items: center;
}

.comment-meta {
	display: flex;
	align-items: center;
	width: 100%;

	.comment-name {
		font-weight: 700;
	}
	.comment-date {
	}
	.comment-reply {
		font-weight: 700;
		margin-left: auto;
	}
}

.vote {
	margin: 0 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $lightGray;
	border-radius: $borderRadius;
	div {
		padding: 0.5em;
	}
}
